<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Nina.Path" value="~/api"/>
    <add key="Nina.Cors" value="*"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpModules>
      <add name="Nina" type="Nina.Startup, Nina"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="Nina" type="Nina.Startup, Nina"/>
    </modules>
  </system.webServer>
  <location path="api" allowOverride="true">
    <system.webServer>
      <handlers>
        <clear/>
        <add name="ExtensionlessUrl-Integrated-4.0" path="*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0"/>
      </handlers>
    </system.webServer>
  </location>
</configuration>